# .gitignore file created for free with Tower (https://www.git-tower.com/)
# For suggestions or improvements please contact us using support@git-tower.com
# Generated on 2025-09-25
# Includes: intellij

### Universal ###
# Common files that should be ignored in all projects

# Logs
*.log
# Temporary files
*.tmp
*~

*.bak
# Environment files (containing secrets, API keys, credentials)
.env
*.env
.env.*

# Local configuration that shouldn't be shared
*.local

### Intellij ###
# IntelliJ IDEA editor files and settings

# IntelliJ IDEA and Other JetBrains IDEs
Tema 1/.idea/
*.iml
*.iws
*.ipr

.idea_modules/
out/
Tema 1/.idea/workspace.xml
Tema 1/.idea/tasks.xml
Tema 1/.idea/dictionaries

Tema 1/.idea/shelf/
Tema 1/.idea/contentModel.xml
Tema 1/.idea/dataSources/
Tema 1/.idea/dataSources.xml
Tema 1/.idea/dataSources.ids

Tema 1/.idea/dataSources.local.xml
Tema 1/.idea/sqlDataSources.xml
Tema 1/.idea/dynamic.xml
Tema 1/.idea/uiDesigner.xml
Tema 1/.idea/gradle.xml

Tema 1/.idea/libraries
Tema 1/.idea/deployment.xml
Tema 1/.idea/mongoSettings.xml
Tema 1/.idea/httpRequests
Tema 1/.idea/caches/

Tema 1/.idea/modules.xml
Tema 1/.idea/compiler.xml
Tema 1/.idea/jarRepositories.xml
Tema 1/.idea/artifacts
Tema 1/.idea/sonarlint/

*.iml.bak
*.ipr.bak
*.iws.bak
.idea_backup/
Tema 1/.idea/replstate.xml

Tema 1/.idea/checkstyle-idea.xml
Tema 1/.idea/encodings.xml
Tema 1/.idea/misc.xml
Tema 1/.idea/vcs.xml
Tema 1/.idea/jsLibraryMappings.xml

Tema 1/.idea/assetWizardSettings.xml
Tema 1/.idea/kotlinc.xml
Tema 1/.idea/inspectionProfiles/
Tema 1/.idea/codestream.xml
Tema 1/.idea/aws.xml

Tema 1/.idea/sonarIssues.xml
Tema 1/.idea/.gitignore
Tema 1/.idea/remote-mappings.xml
Tema 1/.idea/**/usage.statistics.xml
Tema 1/.idea/**/contentModel.xml

Tema 1/.idea/**/dbnavigator.xml
Tema 1/.idea/**/markdown-navigator.xml
Tema 1/.idea/**/markdown-navigator-enh.xml
Tema 1/.idea/**/markdown-navigator/
Tema 1/.idea/$CACHE_FILE$

Tema 1/.idea/**/azureSettings.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
